$prefix-date-picker-header: #{$prefix}date-picker-header;
.#{$prefix-date-picker-header}{
    $grid-size: 24px;
    padding: 4px 0;
    display: flex;
    font-weight: bold;
    text-align: center;
    &-btns{
        max-width: 50px;
        &>*{
            overflow: hidden;
            display: inline-block;
            width: $grid-size;
            height: $grid-size;
            text-align: center;
            line-height: $grid-size;
            border-radius: $border-radius-button;
            cursor: pointer;
            transition: color $transition-hover-time linear;
            &:hover{
                @include get-color-sub-hover();

            }
        }
        &>span{
            padding-left: 3px;
            &>span{
                float: left;
                width: 5px;
                height: $grid-size;
                line-height: $grid-size;
            }
        }
    }
    &-center{
        flex: 1;
        &>span{
            display: inline-block;
            height: $grid-size;
            line-height: $grid-size;
            padding: 0 3px;
            border-radius: $border-radius-button;
            cursor: pointer;
            transition: color $transition-hover-time linear;
            &:hover{
                @include get-color-sub-hover();
            }
        }
    }
}
