$prefix-month-table: #{$prefix}month-table;
.#{$prefix-month-table}{
    $grid-size: 32.5px;
    &-body{
        height: 210px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 $gap-base / 4 * 3;
    }
    &-cell{
        position: relative;
        width: 65px;
        height: $grid-size;
        margin: 10px 5px;
        text-align: center;
        line-height: $grid-size;
        border-radius: $border-radius-button;
        transition: color $transition-hover-time $bezier,
        background-color $transition-hover-time $bezier;
        cursor: pointer;
        &:not([disabled]):hover{
            @include get-color-divider(background-color);
        }
        &-today{
            &>span{
                position: relative;
                padding: 0 6px;
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $color-primary;
                    right: 0;
                    top: 0;
                }
            }
        }
        &-current{
            font-weight: bold;
        }
        &-selected{
            background: $color-primary;
            @include get-color-background-coloured();
            &:not([disabled]):hover{
                @include get-color-primary-hover(background-color);
            }
            &>span:after{
                background: currentColor;
            }
        }
    }
}
