$prefix-steps: #{$prefix}steps;
// $steps-wait-icon-color: rgba(0,0,0,1);
$steps-wait-icon-color: #ccc;
$steps-wait-title-color: #999;
$steps-wait-description-color: #999;
$steps-wait-tail-color: #999;
$steps-title-color: #666;
$primary-color: #666;
$border-color-split: #fff;
$error-color: red;

.#{$prefix-steps} {
    font-size: 0;
    width: 100%;
    line-height: 1.5;
    &-item{
        display: inline-block;
        position: relative;
        vertical-align: top;

        &.#{$prefix-steps}-status-wait{
            .#{$prefix-steps}-head-inner {
                background-color: #fff;
                > .#{$prefix-steps}-icon, span {
                    color: $steps-wait-icon-color;
                }
            }
            .#{$prefix-steps}-title {
                color: $steps-wait-title-color;
            }
            .#{$prefix-steps}-content {
                color: $steps-wait-description-color;
            }
            .#{$prefix-steps}-tail > i {
                background-color: $steps-wait-tail-color;
            }
        }
        &.#{$prefix-steps}-status-process {
            .#{$prefix-steps}-head-inner {
                border-color: $primary-color;
                background-color: $primary-color;
                > .#{$prefix-steps}-icon, span {
                    color: #000;
                }
            }
            .#{$prefix-steps}-title {
                color: $steps-title-color;
            }
            .#{$prefix-steps}-content {
                color: $steps-title-color;
            }
            .#{$prefix-steps}-tail > i {
                background-color: $border-color-split;
            }
        }
        &.#{$prefix-steps}-status-finish {
            .#{$prefix-steps}-head-inner {
                background-color: #fff;
                border-color: $primary-color;
                > .#{$prefix-steps}-icon, span {
                    color: $primary-color;
                }
            }
            .#{$prefix-steps}-tail > i:after {
                width: 100%;
                background: $primary-color;
                // transition: all $transition-time $ease-in-out;
                opacity: 1;
            }
            .#{$prefix-steps}-title {
                color: $steps-wait-title-color;
            }
            .#{$prefix-steps}-content {
                color: $steps-wait-description-color;
            }
        }

        &.#{$prefix-steps}-status-error {
            .#{$prefix-steps}-head-inner {
                background-color: #fff;
                border-color: $error-color;
                > .#{$prefix-steps}-icon {
                    color: $error-color;
                }
            }
            .#{$prefix-steps}-title {
                color: $error-color;
            }
            .#{$prefix-steps}-content {
                color: $error-color;
            }
            .#{$prefix-steps}-tail > i {
                background-color: $border-color-split;
            }
        }

        &.#{$prefix-steps}-next-error {
            .#{$prefix-steps}-tail > i,
            .#{$prefix-steps}-tail > i:after {
                background-color: $error-color;
            }
        }

        &.#{$prefix-steps}-custom {
            .#{$prefix-steps}-head-inner {
                background: none;
                border: 0;
                width: auto;
                height: auto;
                > .#{$prefix-steps}-icon {
                    font-size: 20px;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                }
            }
            &.#{$prefix-steps}-status-process {
                .#{$prefix-steps}-head-inner > .#{$prefix-steps}-icon {
                    color: $primary-color;
                }
            }
        }
    }
    &-item:last-child &-tail{
        display: none;
    }

    .#{$prefix-steps}-head,
    .#{$prefix-steps}-main {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .#{$prefix-steps}-head {
        background: #fff;
    }

    .#{$prefix-steps}-head-inner {
        display: block;
        width: 26px;
        height: 26px;
        line-height: 24px;
        margin-right: 8px;
        text-align: center;
        border: 1px solid $steps-wait-icon-color;
        border-radius: 50%;
        font-size: 14px;
        // transition: background-color @transition-time @ease-in-out;

        > .#{$prefix-steps}-icon {
            line-height: 1;
            position: relative;

            &.ivu-icon {
                font-size: 24px;
                &-ios-checkmark-empty,
                &-ios-close-empty {
                    font-weight: bold;
                }
            }
        }
    }
    .#{$prefix-steps}-main {
        margin-top: 2.5px;
        display: inline;
    }
    .#{$prefix-steps}-custom .#{$prefix-steps}-title{
        margin-top: 2.5px;
    }

    .#{$prefix-steps}-title {
        display: inline-block;
        margin-bottom: 4px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        background: #fff;

        > a:first-child:last-child {
            color: #666;
        }
    }
    .#{$prefix-steps}-item-last {
        .#{$prefix-steps}-title {
            padding-right: 0;
            width: 100%;
        }
    }
    .#{$prefix-steps}-content {
        font-size: 12px;
        color: #999;
    }
    .#{$prefix-steps}-tail {
        width: 100%;
        padding: 0 10px;
        position: absolute;
        left: 0;
        top: 13px;
        > i {
            display: inline-block;
            width: 100%;
            height: 1px;
            vertical-align: top;
            background: $border-color-split;
            border-radius: 1px;
            position: relative;
            &:after {
                content: '';
                width: 0;
                height: 100%;
                background: $border-color-split;
                opacity: 0;
                position: absolute;
                top: 0;
            }
        }
    }

    &.#{$prefix-steps}-small {
        .#{$prefix-steps}-head-inner {
            width: 18px;
            height: 18px;
            line-height: 16px;
            margin-right: 10px;
            text-align: center;
            border-radius: 50%;
            font-size: 12px;

            > .#{$prefix-steps}-icon.ivu-icon {
                font-size: 16px;
                top: 0;
            }
        }
        .#{$prefix-steps}-main {
            margin-top: 0;
        }
        .#{$prefix-steps}-title {
            margin-bottom: 4px;
            margin-top: 0;
            color: #666;
            font-size: 12px;
            font-weight: bold;
        }
        .#{$prefix-steps}-content {
            font-size: 12px;
            color: #999;
            padding-left: 30px;
        }
        .#{$prefix-steps}-tail {
            top: 8px;
            padding: 0 8px;
            > i {
                height: 1px;
                width: 100%;
                border-radius: 1px;
            }
        }
    }

    &.#{$prefix-steps}-small .#{$prefix-steps}-item.#{$prefix-steps}-custom .#{$prefix-steps}-head-inner,
    .#{$prefix-steps}-item.#{$prefix-steps}-custom .#{$prefix-steps}-head-inner {
        width: inherit;
        height: inherit;
        line-height: inherit;
        border-radius: 0;
        border: 0;
        background: none;
    }
}

.#{$prefix-steps}-vertical {
    .#{$prefix-steps}-item {
        display: block;
    }

    .#{$prefix-steps}-tail {
        position: absolute;
        left: 13px;
        top: 0;
        height: 100%;
        width: 1px;
        padding: 30px 0 4px 0;
        > i {
            height: 100%;
            width: 1px;
            &:after {
                height: 0;
                width: 100%;
            }
        }
    }

    .#{$prefix-steps}-status-finish {
        .#{$prefix-steps}-tail > i:after {
            height: 100%;
        }
    }

    .#{$prefix-steps}-head {
        float: left;
        &-inner {
            margin-right: 16px;
        }
    }

    .#{$prefix-steps}-main {
        min-height: 47px;
        overflow: hidden;
        display: block;
        .#{$prefix-steps}-title {
            line-height: 26px;
        }
        .#{$prefix-steps}-content {
            padding-bottom: 12px;
            padding-left: 0;
        }
    }

    .#{$prefix-steps}-custom .#{$prefix-steps}-icon {
        left: 4px;
    }
    &.#{$prefix-steps}-small .#{$prefix-steps}-custom .#{$prefix-steps}-icon {
        left: 0;
    }
}

.#{$prefix-steps}-vertical.#{$prefix-steps}-small {
    .#{$prefix-steps}-tail {
        position: absolute;
        left: 9px;
        top: 0;
        padding: 22px 0 4px 0;
        > i {
            height: 100%;
        }
    }

    .#{$prefix-steps}-title {
        line-height: 18px;
    }
}

.#{$prefix-steps}-horizontal {
    &.#{$prefix-steps}-hidden {
        visibility: hidden;
    }
    .#{$prefix-steps}-content {
        //max-width: 100px;
        padding-left: 35px;
    }
    .#{$prefix-steps}-item:not(:first-child) .#{$prefix-steps}-head {
        padding-left: 10px;
        margin-left: -10px;
    }
}
