$prefix-steps: #{$prefix}steps;

.#{$prefix-steps} {
    font-size: 0;
    width: 100%;
    line-height: 1.5;
    &-item{
        display: inline-block;
        position: relative;
        vertical-align: top;

        &.#{$prefix-steps}-status-wait{
            .#{$prefix-steps}-head-inner {
                > .#{$prefix-steps}-icon, span {
                    color: $color-default-sub;
                }
            }
            .#{$prefix-steps}-title {
                color: $color-default-sub;
            }
            .#{$prefix-steps}-content {
                color: $color-default-sub;
            }
            .#{$prefix-steps}-tail > i {
                // @include get-color-bg(background-color);
                // background-color: $color-primary;
                background-color: $color-border;
            }
        }
        &.#{$prefix-steps}-status-process {
            .#{$prefix-steps}-head-inner {
                border-color: $color-primary;
                // @include get-color-border(border-color);
                // @include get-color-bg('background-color');
                background: $color-primary;
                > .#{$prefix-steps}-icon, span {
                    color: #fff;
                }
            }
            .#{$prefix-steps}-title {
                color: $color-default-title;
            }
            .#{$prefix-steps}-content {
                color: $color-default-title;
            }
            .#{$prefix-steps}-tail > i {
                // background-color: $border-color-split;
                @include get-color-bg(background-color);
                background-color: $color-border;
            }
        }
        &.#{$prefix-steps}-status-finish {
            .#{$prefix-steps}-head-inner {
                // border-color: $primary-color;
                // @include get-color-border();
                border-color: $color-primary;
                > .#{$prefix-steps}-icon, span {
                    color: $color-primary;
                }
            }
            .#{$prefix-steps}-tail > i:after {
                width: 100%;
                // background: $primary-color;
                // @include get-color-bg(background-color);
                background-color: $color-primary;
                transition: all $transition-time;
                opacity: 1;
            }
            .#{$prefix-steps}-title {
                color: $color-default-title;
            }
            .#{$prefix-steps}-content {
                color: $color-default-sub;
            }
        }

        &.#{$prefix-steps}-status-error {
            .#{$prefix-steps}-head-inner {
                border-color: $color-error;
                > .#{$prefix-steps}-icon {
                    color: $color-error;
                }
            }
            .#{$prefix-steps}-title {
                color: $color-error;
            }
            .#{$prefix-steps}-content {
                color: $color-error;
            }
            .#{$prefix-steps}-tail > i {
                background-color: $color-border;
                
            }
        }

        &.#{$prefix-steps}-next-error {
            .#{$prefix-steps}-tail > i,
            .#{$prefix-steps}-tail > i:after {
                // background-color: $background-color;
                // @include get-color-bg(background-color);
                background-color: $color-primary;
            }
        }

        &.#{$prefix-steps}-custom {
            .#{$prefix-steps}-head-inner {
                background: none;
                border: 0;
                width: auto;
                height: auto;
                > .#{$prefix-steps}-icon {
                    font-size: 20px;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                }
            }
            &.#{$prefix-steps}-status-process {
                .#{$prefix-steps}-head-inner > .#{$prefix-steps}-icon {
                    color: $color-primary;
                }
            }
        }
    }
    &-item:last-child &-tail{
        display: none;
    }

    .#{$prefix-steps}-head,
    .#{$prefix-steps}-main {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .#{$prefix-steps}-head {
        // background: #fff;
    }

    .#{$prefix-steps}-head-inner {
        display: block;
        width: 26px;
        height: 26px;
        line-height: 24px;
        text-align: center;
        border: 1px solid $color-default-sub;
        border-radius: 50%;
        font-size: 14px;
        transition: background-color $transition-time;

        > .#{$prefix-steps}-icon {
            line-height: 1;
            position: relative;

            &.zov-iconfont {
                font-size: 24px;
                &-ios-checkmark-empty,
                &-ios-close-empty {
                    font-weight: bold;
                }
            }
        }
    }
    .#{$prefix-steps}-main {
        margin-top: 2.5px;
        display: inline;
    }
    .#{$prefix-steps}-custom .#{$prefix-steps}-title{
        margin-top: 2.5px;
    }

    .#{$prefix-steps}-title {
        margin-bottom: 4px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        color: $color-default-title;

        > a:first-child:last-child {
            color: #666;
        }
    }
    .#{$prefix-steps}-item-last {
        .#{$prefix-steps}-title {
            padding-right: 0;
            width: 100%;
        }
    }
    .#{$prefix-steps}-content {
        font-size: 12px;
        color: #999;
    }
    .#{$prefix-steps}-tail {
        width: 100%;
        position: absolute;
        left: 0;
        top: 13px;
        > i {
            display: inline-block;
            width: 100%;
            height: 1px;
            vertical-align: top;
            @include get-color-bg(background-color);
            border-radius: 1px;
            position: relative;
            &:after {
                content: '';
                width: 0;
                height: 100%;
                background: $color-border;
                opacity: 0;
                position: absolute;
                top: 0;
            }
        }
    }

    &.#{$prefix-steps}-small {
        .#{$prefix-steps}-head-inner {
            width: 18px;
            height: 18px;
            line-height: 16px;
            text-align: center;
            border-radius: 50%;
            font-size: 12px;

            > .#{$prefix-steps}-icon.zov-iconfont {
                font-size: 16px;
                top: 0;
            }
        }
        .#{$prefix-steps}-main {
            margin-top: 0;
        }
        .#{$prefix-steps}-title {
            margin-bottom: 4px;
            margin-top: 0;
            color: $color-default-title;
            font-size: 12px;
            font-weight: bold;
        }
        .#{$prefix-steps}-content {
            font-size: 12px;
            color: $color-default-sub;
        }
        .#{$prefix-steps}-tail {
            top: 8px;
            // padding: 0 8px;
            > i {
                height: 1px;
                width: 100%;
                border-radius: 1px;
            }
        }
    }

    &.#{$prefix-steps}-small .#{$prefix-steps}-item.#{$prefix-steps}-custom .#{$prefix-steps}-head-inner,
    .#{$prefix-steps}-item.#{$prefix-steps}-custom .#{$prefix-steps}-head-inner {
        width: inherit;
        height: inherit;
        line-height: inherit;
        border-radius: 0;
        border: 0;
        background: none;
    }
}

.#{$prefix-steps}-vertical {
    .#{$prefix-steps}-item {
        display: block;
    }

    .#{$prefix-steps}-tail {
        position: absolute;
        left: 13px;
        height: 100%;
        width: 1px;
        // padding: 30px 0 4px 0;
        > i {
            height: 100%;
            width: 1px;
            &:after {
                height: 0;
                width: 100%;
            }
        }
    }

    .#{$prefix-steps}-status-finish {
        .#{$prefix-steps}-tail > i:after {
            height: 100%;
        }
    }

    .#{$prefix-steps}-head {
        float: left;
        &-inner {
            margin-right: 16px;
        }
    }

    .#{$prefix-steps}-main {
        min-height: 47px;
        overflow: hidden;
        display: block;
        .#{$prefix-steps}-title {
            line-height: 26px;
        }
        .#{$prefix-steps}-content {
            padding-bottom: 12px;
            padding-left: 0;
        }
    }

    .#{$prefix-steps}-custom .#{$prefix-steps}-icon {
        left: 4px;
    }
    &.#{$prefix-steps}-small .#{$prefix-steps}-custom .#{$prefix-steps}-icon {
        left: 0;
    }
}

.#{$prefix-steps}-vertical.#{$prefix-steps}-small {
    .#{$prefix-steps}-tail {
        position: absolute;
        left: 9px;
        top: 0;
        padding: 22px 0 4px 0;
        > i {
            height: 100%;
        }
    }

    .#{$prefix-steps}-title {
        line-height: 18px;
    }
}

.#{$prefix-steps}-horizontal {
    &.#{$prefix-steps}-hidden {
        visibility: hidden;
    }
    .#{$prefix-steps}-content {
        //max-width: 100px;
    }
    .#{$prefix-steps}-item:not(:first-child) .#{$prefix-steps}-head {
        // padding-left: 10px;
        // margin-left: -10px;
    }
}
