$prefix-spin-bars-chrome-loading : #{$prefix}spin-bars-chrome-loading;
.#{$prefix-spin-bars-chrome-loading}{
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    overflow: hidden;
    animation: #{$prefix-spin-bars-chrome-loading}rotate 3s linear infinite;
    &-path{
        cx: 0.5em;
        cy: 0.5em;
        r: 0.4em;
        stroke-width: 2px;
        fill: none;
        transform-origin: center;
        stroke: currentColor; // #004
        animation: #{$prefix-spin-bars-chrome-loading}dasharray-change 1.5s linear infinite;
    }
    @keyframes #{$prefix-spin-bars-chrome-loading}rotate {
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(360deg);
        }
    }
    @keyframes #{$prefix-spin-bars-chrome-loading}dasharray-change {
        from{
            stroke-dasharray: 0.51em 2.51em;
            transform: rotate(0);
        }
        50%{
            stroke-dasharray: 2em 2.51em;
        }
        to{
            stroke-dasharray: 0.51em 2.51em;
            transform: rotate(360deg);
        }
    }
}

