*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //移动端点按默认样式清除
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    @include get-color-text();
    @include get-color-bg();
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    @include get-color-text();
    @include get-color-bg();
}
// 消除ie10- input清除`✘`、`👀`等样式
input::-ms-clear, input::-ms-reveal {
    display: none;
}

code,
kbd,
pre,
samp {
    font-family: $code-family;
}

ul,li{
    list-style: none;
}

[disabled]{
    @include get-color-disabled();
    cursor: $cursor-disabled;
}
::placeholder{
    @include get-color-placeholder();
}
::-webkit-input-placeholder{
    @include get-color-placeholder();
}
::-moz-placeholder{   /* Mozilla Firefox 19+ */
    @include get-color-placeholder();
}
:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    @include get-color-placeholder();
}
:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    @include get-color-placeholder();
}

a {
    color: $link-color;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color $transition-time ease;

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }

    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }
}
