$prefix-time-picker: #{$prefix}time-picker;
.#{$prefix-time-picker}{
    display: inline-block;
    & .#{$prefix}tooltip{
        &-body{
            width: 220px;
            padding: 0;
        }
    }
}
