.#{$prefix-slider}-handle-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: (-1 * 14px / 2);
    margin-left: (-1 * 14px / 2);
}

.#{$prefix-slider}-handle {
    box-sizing: border-box;
    display: block;
    outline: none;
    border-radius: 50%;
    border: 2px solid $color-primary;
    width: 14px;
    height: 14px;
    cursor: pointer;
    @include get-color-bg('background');
    &:hover {
        @include get-color-primary-hover('border-color');
    }
    &:focus {
        @include get-color-shadow(0, 0, 5px, 5px)
    }
}
