// 【scss】配置，静态变量，项目构建依赖
// 主题色
$color-primary                      :   #2d8cf0 !default;
$color-light-primary                :   lighten($color-primary, 7.5%) !default;
$color-dark-primary                 :   darken($color-primary, 7.5) !default;
// 辅助色
$color-info                         :   #2db7f5 !default;
$color-success                      :   #19be6b !default;
$color-warning                      :   #ff9900 !default;
$color-error                        :   #ed4014 !default;
// 中性色
$color-black-1                      :   #262626 !default;    // 深色-1
$color-black-2                      :   #404040 !default;    // 深色-2
$color-black-3                      :   #808695 !default;    // 深色-3
$color-black-4                      :   #c5c8ce !default;    // 深色-4
$color-black-5                      :   #dcdee2 !default;    // 深色-5
$color-black-6                      :   #e8eaec !default;    // 深色-6
$color-black-7                      :   #f8f8f9 !default;    // 深色-7
// 标题色，正文色，辅助色/图标色，失效色，边框，分割线，背景色，阴影
$color-title                        :   $color-black-1 !default;
$color-text                         :   $color-black-2 !default;
$color-sub                          :   $color-black-3 !default;
$color-disabled                     :   $color-black-4 !default;
$color-border                       :   $color-black-5 !default;
$color-divider                      :   $color-black-6 !default;
$color-background                   :   $color-black-7 !default;
$color-shadow                       :   rgba(0,0,0,0.25) !default;

// 【css】变量，动态变量，项目运行依赖 「#001」
body{
    /*
    * 默认
    */
    --color-light-primary                       :   #{$color-light-primary};
    --color-dark-primary                        :   #{$color-dark-primary};
    --color-title                               :   #{$color-black-1};
    --color-text                                :   #{$color-black-2};
    --color-sub                                 :   #{$color-black-3};
    --color-disabled                            :   #{$color-black-4};
    --color-border                              :   #{$color-black-5};
    --color-divider                             :   #{$color-black-6};
    --color-background                          :   #{$color-black-7};
    --color-shadow                              :   rgba(0,0,0,0.25);
    /*
    * light
    */
    --light-color-light-primary                 :   #{$color-light-primary};
    --light-color-dark-primary                  :   #{$color-dark-primary};
    --light-color-title                         :   #{$color-black-1};
    --light-color-text                          :   #{$color-black-2};
    --light-color-sub                           :   #{$color-black-3};
    --light-color-disabled                      :   #{$color-black-4};
    --light-color-border                        :   #{$color-black-5};
    --light-color-divider                       :   #{$color-black-6};
    --light-color-background                    :   #{$color-black-7};
    --light-color-shadow                        :   rgba(0,0,0,0.25);
    /*
    * dark 见 @core/commponents/dark
    */
    --dark-color-light-primary                  :   #{$color-dark-primary};
    --dark-color-dark-primary                   :   #{$color-light-primary};
    --dark-color-title                          :   #{$color-black-7};
    --dark-color-text                           :   #{$color-black-6};
    --dark-color-sub                            :   #{$color-black-5};
    --dark-color-disabled                       :   #{$color-black-4};
    --dark-color-border                         :   #{$color-black-3};
    --dark-color-divider                        :   #{$color-black-2};
    --dark-color-background                     :   #{$color-black-1};
    --dark-color-shadow                         :   rgba(0,0,0,0.75);
}
