// 前缀
$prefix                     :   zov-;

// 基础配置项
$font-family                :   "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !default;
$code-family                :   Consolas,Menlo,Courier,monospace !default;
$font-size-base             :   14px !default;
$font-size-small            :   12px !default;
$font-size-large            :   16px !default;
$title-font-weight          :   500 !default;
$line-height-base           :   1.5 !default;
$line-height-computed       :   floor(($font-size-base * $line-height-base));

// link a标签
$link-color                 :   $color-primary !default;
$link-hover-color           :   $color-light-primary !default;
$link-active-color          :   $color-dark-primary !default;
$cursor-disabled            :   not-allowed !default;

// border 圆角
$border-radius-base         :   9px !default;
$border-radius-button       :   4px !default;
$border-width-base          :   1px !default;
$border-color-base          :   $color-border !default;  // 当边框作为边框
$border-color-split         :   $color-divider !default; // 当边框作为分割线
$box-shadow-color           :   $color-shadow !default;
$box-shadow-blur            :   15px;
$box-shadow-spread          :   0px;

// 过度时间
$transition-time            :   .3s !default;
$animation-time             :   .3s !default;
$transition-btn-time        :   .2s !default;
$bezier                     :   ease-in-out !default;

// Z-index
$zindex-spin                :   8 !default;
$zindex-affix               :   10 !default;
$zindex-back-top            :   10 !default;
$zindex-select              :   900 !default;
$zindex-modal               :   1000 !default;
$zindex-drawer              :   1000 !default;
$zindex-notice              :   1010 !default;
$zindex-tooltip             :   1060 !default;
$zindex-transfer            :   1060 !default;
$zindex-loading-bar         :   2000 !default;
$zindex-spin-fullscreen     :   2010 !default;

// 间隙
$gap-base                   :   15px !default;

// form
$outline-width              :   2px !default;
$form-dom-width             :   160px !default;

// button
$btn-padding                :   0 $gap-base !default;
$btn-line-height            :   2.2 !default;
