.#{$prefix}notice{
    position: fixed;
    z-index: $zindex-notice;
    top: 0;
    right: 0;
    padding-right: $gap-base;
    pointer-events: none; // 此属性支持到ie10+，意思为将鼠标事件忽略，在这里的作用是【忽略遮罩，以减少消息提示对页面主内容的遮挡】
    &-case{
        pointer-events: auto;
        position: relative;
        width: 335px;
        padding: $gap-base;
        margin-top: $gap-base;
        @include get-color-bg();
        border: $border-width-base solid;
        @include get-color-divider();
        border-radius: $border-radius-base;
        @include get-color-shadow();
        &-close{
            position: absolute;
            top: $gap-base;
            right: $gap-base;
            cursor: pointer;
            font-size: 16px;
            @include get-color-sub();
            &:hover{
                @include get-color-sub-hover();
                transition: all $transition-time linear;
            }
        }
        &-icon{
            position: absolute;
            font-size: $font-size-small * 2;
            &-info{
                color: $color-info
            }
            &-success{
                color: $color-success
            }
            &-error{
                color: $color-error
            }
            &-warning{
                color: $color-warning
            }
        }
        &-body{
            padding-left: $font-size-small * 2 + $gap-base;
        }
        &-title{
            @include get-color-title();
            font-weight: $title-font-weight;
            font-size: $font-size-large;
        }
        &-description{
            font-size: $font-size-small;
        }

    }
}
.#{$prefix}message{
    width: 100%;
    position: fixed;
    z-index: $zindex-notice;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none; // 此属性支持到ie10+，意思为将鼠标事件忽略，在这里的作用是【忽略遮罩，以减少消息提示对页面主内容的遮挡】
}
