$prefix-radio : #{$prefix}radio;

// 正常状态
.#{$prefix-radio}-wrapper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    //@include form-dom-size();
}

.#{$prefix-radio}{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.65);
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 4px;
}

.#{$prefix-radio}-inner{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    transition: all .3s;
    @include get-color-bg();
    @include get-color-border();
    &:hover{
        border-color: $color-primary;
    }
}
.#{$prefix-radio}-input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
// 选中状态
.#{$prefix-radio}-checked{
    .#{$prefix-radio}-inner{
        &:after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }
}
.#{$prefix-radio}-checked:not(.#{$prefix-radio}-disabled){
    .#{$prefix-radio}-inner{
        border-color: $color-primary;
        &:after {
            background-color: $color-primary;
        }
        &:active{
            @include outline($color-primary);
        }
    }
}
// 不可选状态
.#{$prefix-radio}-disabled{
    cursor: $cursor-disabled;
    @include get-color-sub();
    .#{$prefix-radio}-inner{
        cursor: $cursor-disabled;
        @include get-color-disabled();
        @include get-color-disabled(border-color);
        &:after {
            background-color: var(--color-sub);
        }
    }
    &.#{$prefix-radio}-button{
        cursor: $cursor-disabled;
        @include get-color-disabled();
        @include get-color-disabled(border-color);
        &.#{$prefix-radio}-checked{
            background-color: var(--color-sub);
            @include get-color-disabled(border-color);
        }
    }
}

// 按钮状态
.#{$prefix-radio}-button{
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    transition: color $transition-hover-time $bezier,
    background-color $transition-hover-time $bezier,
    border $transition-hover-time $bezier,
    opacity $transition-hover-time $bezier,
    box-shadow $transition-hover-time $bezier;
    border-radius: $border-radius-button;
    padding: $btn-padding;
    margin: $outline-width;
    border: 1px solid;
    @include get-color-border();
    @include outline();
    // size对应的样式分类
    @include form-dom-size();
    .#{$prefix-radio}{
        margin: 0;
        padding: 0;
    }
    .#{$prefix-radio}-inner{
        opacity: 0;
        width: 0;
        height: 0;
    }
    &.#{$prefix-radio}-checked{
        &:active {
            @include outline($color-primary);
        }
    }
}
.#{$prefix-radio}-button-outline{
    &.#{$prefix-radio}-checked{
        border-color: $color-primary;
        color: $color-primary;
    }
}
.#{$prefix-radio}-button-solid{
    &.#{$prefix-radio}-checked{
        border-color: $color-primary;
        background-color: $color-primary;
        color: #FFF;
    }
}
