@import "../mixins/get-color";
@import "../custom";

$component-name: $prefix + 'tabs';

.#{$component-name}-nav {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-bottom: 1px solid transparent;
    @include get-color-border(border-color);
    .#{$component-name}-nav-action {
        display: none;
        width: 32px;
        height: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
        &.#{$component-name}-nav-action-prev {
            left: 0;
        }
        &.#{$component-name}-nav-action-next {
            right: 0;
        }
        .#{$component-name}-nav-action-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include get-color-sub-hover(color);
        }
        &:hover {
            .#{$component-name}-nav-action-icon {
                @include get-color-sub(color);
            }
        }
    }
    .#{$component-name}-nav-scroll-wrap {
        margin: 0;
        overflow: hidden;
        transition: $transition-time margin-left $bezier,
                    $transition-time margin-right $bezier;
    }
    .#{$component-name}-nav-tabs-wrap {
        position: relative;
        display: inline-block;
        transition: $transition-time transform $bezier;
    }
    .#{$component-name}-nav-tabs {
        display: inline-block;
        white-space: nowrap;
    }
    .#{$component-name}-nav-slider {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: $transition-time width $bezier,
                    $transition-time left $bezier;
        @include get-color-primary-active(background-color)
    }
    &--scrollable {
        .#{$component-name}-nav-action {
            display: block;
        }
        .#{$component-name}-nav-scroll-wrap {
            margin: 0 32px;
        }
    }
}

.#{$component-name}-tab {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 32px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 500;
    &:last-of-type {
        margin-right: 0;
    }
    &:hover {
        @include get-color-primary-hover(color)
    }
    &--active {
        @include get-color-primary-active(color)
    }
}

.#{$component-name}-hidden {
    display: none;
}
