$prefix-tag: #{$prefix}tag;
.#{$prefix-tag}{
    display: inline-block;
    padding: 0 0.7em;
    &:active, &:focus{
        box-shadow: 0 0 0 transparent;
    }
    &-close{
        margin-left: 0.25em;
        &:hover{
            @include get-color-sub-hover()
        }
    }
}
