$prefix-tooltip: #{$prefix}tooltip;
.#{$prefix-tooltip}{
    display: inline-block;
    position: relative;
    visibility: visible;
    &-body{
        @include get-color-text();
        min-width: 35px;
        padding: $gap-base / 2 $gap-base / 4 * 3;
    }
    &-high-color{
        @include get-color-title(background-color);
        .#{$prefix-tooltip}-body{
            @include get-color-divider(color);
        }
        .#{$prefix-tooltip}-title{
            @include get-color-bg(color);
        }
        .#{$prefix-popper}-arrow{
            @include get-color-title(background-color);
        }
    }
    &-close{
        position: absolute;
        top:  $gap-base / 2;
        right:  $gap-base / 4 * 3;
        cursor: pointer;
        font-size: 16px;
        @include get-color-sub();
        &:hover{
            @include get-color-sub-hover();
            transition: all $transition-time linear;
        }
    }
    &-title{
        @include get-color-title();
        font-weight: $title-font-weight;
        font-size: $font-size-large;
        max-width: 220px;
        line-height: initial;
        text-align: left;
    }
    &-description{
        font-size: $font-size-small;
        max-width: 220px;
        line-height: initial;
        text-align: left;
    }
}
