@mixin form-dom-size ($difference-value: 0) {
    font-size: $font-size-base;
    height: $form-dom-height-base + $difference-value;
    line-height: $form-dom-height-base + $difference-value;
    &-size{
        &-large{
            font-size: $font-size-large;
            height: $form-dom-height-large + $difference-value;
            line-height: $form-dom-height-large + $difference-value;
        }
        &-small{
            font-size: $font-size-small;
            height: $form-dom-height-small + $difference-value;
            line-height: $form-dom-height-small + $difference-value;
        }
    }
}
