@mixin outline ($color:$color-primary) {
    outline: none;
    &:active,&:focus{
        box-shadow: 0 0 0 $outline-width rgba($color, 0.25);
    }
}
@mixin disabled () {
    &[disabled]{
        cursor: $cursor-disabled;
        @include get-color-disabled();
        @include get-color-sub();
        @include get-color-disabled(border-color);
        &:hover,&:focus,&:active{
            @include get-color-disabled();
            @include get-color-disabled(border-color);
            box-shadow: 0 0 0 0 transparent;
        }
    }
}
