@font-face {
    font-family: "zov-iconfont";
    src: url('fonts/zov_iconfont.eot'); /* IE9 */
    src: url('fonts/zov_iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/zov_iconfont.woff2') format('woff2'),
    url('fonts/zov_iconfont.woff') format('woff'),
    url('fonts/zov_iconfont.ttf') format('truetype');
}

.zov-iconfont {
    font-family: "zov-iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zi-add:before {
    content: "\e96c";
}

.zi-albums:before {
    content: "\e96d";
}

.zi-alarm:before {
    content: "\e96e";
}

.zi-add-circle:before {
    content: "\e96f";
}

.zi-add-circle-outline:before {
    content: "\e970";
}

.zi-alert:before {
    content: "\e971";
}

.zi-airplane:before {
    content: "\e972";
}

.zi-aperture:before {
    content: "\e973";
}

.zi-analytics:before {
    content: "\e974";
}

.zi-apps:before {
    content: "\e975";
}

.zi-archive:before {
    content: "\e976";
}

.zi-appstore:before {
    content: "\e977";
}

.zi-arrow-down:before {
    content: "\e978";
}

.zi-arrow-back:before {
    content: "\e979";
}

.zi-arrow-dropdown-circl:before {
    content: "\e97a";
}

.zi-arrow-dropdown:before {
    content: "\e97b";
}

.zi-arrow-dropleft-circl:before {
    content: "\e97c";
}

.zi-arrow-dropleft:before {
    content: "\e97d";
}

.zi-arrow-dropright-circ:before {
    content: "\e97e";
}

.zi-arrow-forward:before {
    content: "\e97f";
}

.zi-arrow-dropright:before {
    content: "\e980";
}

.zi-arrow-dropup-circle:before {
    content: "\e981";
}

.zi-arrow-dropup:before {
    content: "\e982";
}

.zi-arrow-round-down:before {
    content: "\e983";
}

.zi-arrow-round-back:before {
    content: "\e984";
}

.zi-arrow-round-forward:before {
    content: "\e985";
}

.zi-arrow-round-up:before {
    content: "\e986";
}

.zi-arrow-up:before {
    content: "\e987";
}

.zi-at:before {
    content: "\e988";
}

.zi-backspace:before {
    content: "\e989";
}

.zi-battery-charging:before {
    content: "\e98a";
}

.zi-battery-dead:before {
    content: "\e98b";
}

.zi-battery-full:before {
    content: "\e98c";
}

.zi-bluetooth:before {
    content: "\e98d";
}

.zi-body:before {
    content: "\e98e";
}

.zi-bookmarks:before {
    content: "\e98f";
}

.zi-bonfire:before {
    content: "\e990";
}

.zi-book:before {
    content: "\e991";
}

.zi-bookmark:before {
    content: "\e992";
}

.zi-briefcase:before {
    content: "\e993";
}

.zi-browsers:before {
    content: "\e994";
}

.zi-brush:before {
    content: "\e995";
}

.zi-build:before {
    content: "\e996";
}

.zi-bug:before {
    content: "\e997";
}

.zi-cafe:before {
    content: "\e998";
}

.zi-bulb:before {
    content: "\e999";
}

.zi-calculator:before {
    content: "\ea21";
}

.zi-calendar:before {
    content: "\ea22";
}

.zi-call:before {
    content: "\ea23";
}

.zi-wifi:before {
    content: "\ea24";
}

.zi-water:before {
    content: "\ea25";
}

.zi-volume-mute:before {
    content: "\ea26";
}

.zi-wallet:before {
    content: "\ea27";
}

.zi-volume-high:before {
    content: "\ea28";
}

.zi-volume-off:before {
    content: "\ea29";
}

.zi-volume-low:before {
    content: "\ea2a";
}

.zi-undo:before {
    content: "\ea2b";
}

.zi-unlock:before {
    content: "\ea2c";
}

.zi-card:before {
    content: "\ea2d";
}

.zi-chatboxes:before {
    content: "\ea2e";
}

.zi-chatbubbles:before {
    content: "\ea2f";
}

.zi-checkbox-outline:before {
    content: "\ea30";
}

.zi-checkbox:before {
    content: "\ea31";
}

.zi-checkmark:before {
    content: "\ea32";
}

.zi-checkmark-circle:before {
    content: "\ea33";
}

.zi-checkmark-circle-out:before {
    content: "\ea34";
}

.zi-close-circle-outline:before {
    content: "\ea35";
}

.zi-cloud-circle:before {
    content: "\ea36";
}

.zi-close:before {
    content: "\ea37";
}

.zi-close-circle:before {
    content: "\ea38";
}

.zi-cloud-done:before {
    content: "\ea39";
}

.zi-clock:before {
    content: "\ea3a";
}

.zi-cloud-download:before {
    content: "\ea3b";
}

.zi-cloud:before {
    content: "\ea3c";
}

.zi-cloud-outline:before {
    content: "\ea3d";
}

.zi-cloud-upload:before {
    content: "\ea3e";
}

.zi-cloudy:before {
    content: "\ea3f";
}

.zi-cloudy-night:before {
    content: "\ea40";
}

.zi-code-working:before {
    content: "\ea41";
}

.zi-code:before {
    content: "\ea42";
}

.zi-code-download:before {
    content: "\ea43";
}

.zi-color-filter:before {
    content: "\ea44";
}

.zi-cog:before {
    content: "\ea45";
}

.zi-compass:before {
    content: "\ea46";
}

.zi-color-palette:before {
    content: "\ea47";
}

.zi-color-wand:before {
    content: "\ea48";
}

.zi-construct:before {
    content: "\ea49";
}

.zi-contrast:before {
    content: "\ea4a";
}

.zi-contact:before {
    content: "\ea4b";
}

.zi-contacts:before {
    content: "\ea4c";
}

.zi-contract:before {
    content: "\ea4d";
}

.zi-copy:before {
    content: "\ea4e";
}

.zi-cube:before {
    content: "\ea4f";
}

.zi-crop:before {
    content: "\ea50";
}

.zi-cut:before {
    content: "\ea51";
}

.zi-create:before {
    content: "\ea52";
}

.zi-desktop:before {
    content: "\ea53";
}

.zi-disc:before {
    content: "\ea54";
}

.zi-document:before {
    content: "\ea55";
}

.zi-done-all:before {
    content: "\ea56";
}

.zi-egg:before {
    content: "\ea57";
}

.zi-download:before {
    content: "\ea58";
}

.zi-exit:before {
    content: "\ea59";
}

.zi-expand:before {
    content: "\ea5a";
}

.zi-eye:before {
    content: "\ea5b";
}

.zi-eye-off:before {
    content: "\ea5c";
}

.zi-fastforward:before {
    content: "\ea5d";
}

.zi-film:before {
    content: "\ea5e";
}

.zi-female:before {
    content: "\ea5f";
}

.zi-filing:before {
    content: "\ea60";
}

.zi-fitness:before {
    content: "\ea61";
}

.zi-flag:before {
    content: "\ea62";
}

.zi-flame:before {
    content: "\ea63";
}

.zi-finger-print:before {
    content: "\ea64";
}

.zi-flash-off:before {
    content: "\ea65";
}

.zi-flash:before {
    content: "\ea66";
}

.zi-flashlight:before {
    content: "\ea67";
}

.zi-flask:before {
    content: "\ea68";
}

.zi-folder-open:before {
    content: "\ea69";
}

.zi-folder:before {
    content: "\ea6a";
}

.zi-flower:before {
    content: "\ea6b";
}

.zi-football:before {
    content: "\ea6c";
}

.zi-funnel:before {
    content: "\ea6d";
}

.zi-gift:before {
    content: "\ea6e";
}

.zi-git-branch:before {
    content: "\ea6f";
}

.zi-git-merge:before {
    content: "\ea70";
}

.zi-git-commit:before {
    content: "\ea71";
}

.zi-git-network:before {
    content: "\ea72";
}

.zi-git-compare:before {
    content: "\ea73";
}

.zi-glasses:before {
    content: "\ea74";
}

.zi-git-pull-request:before {
    content: "\ea75";
}

.zi-globe:before {
    content: "\ea76";
}

.zi-grid:before {
    content: "\ea77";
}

.zi-hand:before {
    content: "\ea78";
}

.zi-happy:before {
    content: "\ea79";
}

.zi-hammer:before {
    content: "\ea7a";
}

.zi-heart-dislike:before {
    content: "\ea7b";
}

.zi-headset:before {
    content: "\ea7c";
}

.zi-heart-empty:before {
    content: "\ea7d";
}

.zi-help-buoy:before {
    content: "\ea7e";
}

.zi-heart:before {
    content: "\ea7f";
}

.zi-heart-half:before {
    content: "\ea80";
}

.zi-help-circle-outline:before {
    content: "\ea81";
}

.zi-help-circle:before {
    content: "\ea82";
}

.zi-help:before {
    content: "\ea83";
}

.zi-home:before {
    content: "\ea84";
}

.zi-hourglass:before {
    content: "\ea85";
}

.zi-ice-cream:before {
    content: "\ea86";
}

.zi-image:before {
    content: "\ea87";
}

.zi-images:before {
    content: "\ea88";
}

.zi-infinite:before {
    content: "\ea89";
}

.zi-information-circle-o:before {
    content: "\ea8a";
}

.zi-information:before {
    content: "\ea8b";
}

.zi-information-circle:before {
    content: "\ea8c";
}

.zi-jet:before {
    content: "\ea8d";
}

.zi-journal:before {
    content: "\ea8e";
}

.zi-key:before {
    content: "\ea8f";
}

.zi-keypad:before {
    content: "\ea90";
}

.zi-laptop:before {
    content: "\ea91";
}

.zi-leaf:before {
    content: "\ea92";
}

.zi-list-box:before {
    content: "\ea93";
}

.zi-list:before {
    content: "\ea94";
}

.zi-link:before {
    content: "\ea95";
}

.zi-locate:before {
    content: "\ea96";
}

.zi-lock:before {
    content: "\ea97";
}

.zi-log-out:before {
    content: "\ea98";
}

.zi-log-in:before {
    content: "\ea99";
}

.zi-magnet:before {
    content: "\ea9a";
}

.zi-mail-open:before {
    content: "\ea9b";
}

.zi-mail-unread:before {
    content: "\ea9c";
}

.zi-mail:before {
    content: "\ea9d";
}

.zi-male:before {
    content: "\ea9e";
}

.zi-man:before {
    content: "\ea9f";
}

.zi-map:before {
    content: "\eaa0";
}

.zi-medal:before {
    content: "\eaa1";
}

.zi-medical:before {
    content: "\eaa2";
}

.zi-medkit:before {
    content: "\eaa3";
}

.zi-menu:before {
    content: "\eaa4";
}

.zi-megaphone:before {
    content: "\eaa5";
}

.zi-mic-off:before {
    content: "\eaa6";
}

.zi-moon:before {
    content: "\eaa7";
}

.zi-mic:before {
    content: "\eaa8";
}

.zi-more:before {
    content: "\eaa9";
}

.zi-move:before {
    content: "\eaaa";
}

.zi-musical-note:before {
    content: "\eaab";
}

.zi-microphone:before {
    content: "\eaac";
}

.zi-navigate:before {
    content: "\eaad";
}

.zi-musical-notes:before {
    content: "\eaae";
}

.zi-notifications-off:before {
    content: "\eaaf";
}

.zi-notifications:before {
    content: "\eab0";
}

.zi-nuclear:before {
    content: "\eab1";
}

.zi-notifications-outlin:before {
    content: "\eab2";
}

.zi-open:before {
    content: "\eab3";
}

.zi-options:before {
    content: "\eab4";
}

.zi-nutrition:before {
    content: "\eab5";
}

.zi-paper-plane:before {
    content: "\eab6";
}

.zi-paper:before {
    content: "\eab7";
}

.zi-outlet:before {
    content: "\eab8";
}

.zi-pause:before {
    content: "\eab9";
}

.zi-paw:before {
    content: "\eaba";
}

.zi-partly-sunny:before {
    content: "\eabb";
}

.zi-people:before {
    content: "\eabc";
}

.zi-person:before {
    content: "\eabd";
}

.zi-person-add:before {
    content: "\eabe";
}

.zi-phone-landscape:before {
    content: "\eabf";
}

.zi-phone-portrait:before {
    content: "\eac0";
}

.zi-pie:before {
    content: "\eac1";
}

.zi-photos:before {
    content: "\eac2";
}

.zi-pin:before {
    content: "\eac3";
}

.zi-pint:before {
    content: "\eac4";
}

.zi-pizza:before {
    content: "\eac5";
}

.zi-play:before {
    content: "\eac6";
}

.zi-play-circle:before {
    content: "\eac7";
}

.zi-podium:before {
    content: "\eac8";
}

.zi-planet:before {
    content: "\eac9";
}

.zi-power:before {
    content: "\eaca";
}

.zi-pricetag:before {
    content: "\eacb";
}

.zi-pricetags:before {
    content: "\eacc";
}

.zi-print:before {
    content: "\eacd";
}

.zi-pulse:before {
    content: "\eace";
}

.zi-qr-scanner:before {
    content: "\eacf";
}

.zi-quote:before {
    content: "\ead0";
}

.zi-radio-button-off:before {
    content: "\ead1";
}

.zi-radio-button-on:before {
    content: "\ead2";
}

.zi-radio:before {
    content: "\ead3";
}

.zi-rainy:before {
    content: "\ead4";
}

.zi-recording:before {
    content: "\ead5";
}

.zi-redo:before {
    content: "\ead6";
}

.zi-refresh-circle:before {
    content: "\ead7";
}

.zi-refresh:before {
    content: "\ead8";
}

.zi-remove-circle-outlin:before {
    content: "\ead9";
}

.zi-remove-circle:before {
    content: "\eada";
}

.zi-remove:before {
    content: "\eadb";
}

.zi-resize:before {
    content: "\eadc";
}

.zi-reorder:before {
    content: "\eadd";
}

.zi-repeat:before {
    content: "\eade";
}

.zi-restaurant:before {
    content: "\eadf";
}

.zi-return-left:before {
    content: "\eae0";
}

.zi-reverse-camera:before {
    content: "\eae1";
}

.zi-rewind:before {
    content: "\eae2";
}

.zi-return-right:before {
    content: "\eae3";
}

.zi-ribbon:before {
    content: "\eae4";
}

.zi-rose:before {
    content: "\eae5";
}

.zi-sad:before {
    content: "\eae6";
}

.zi-rocket:before {
    content: "\eae7";
}

.zi-save:before {
    content: "\eae8";
}

.zi-school:before {
    content: "\eae9";
}

.zi-search:before {
    content: "\eaea";
}

.zi-send:before {
    content: "\eaeb";
}

.zi-share-alt:before {
    content: "\eaec";
}

.zi-settings:before {
    content: "\eaed";
}

.zi-share:before {
    content: "\eaee";
}

.zi-shuffle:before {
    content: "\eaef";
}

.zi-shirt:before {
    content: "\eaf0";
}

.zi-skip-backward:before {
    content: "\eaf1";
}

.zi-skip-forward:before {
    content: "\eaf2";
}

.zi-speedometer:before {
    content: "\eaf3";
}

.zi-snow:before {
    content: "\eaf4";
}

.zi-square:before {
    content: "\eaf5";
}

.zi-star-half:before {
    content: "\eaf6";
}

.zi-square-outline:before {
    content: "\eaf7";
}

.zi-star-outline:before {
    content: "\eaf8";
}

.zi-star:before {
    content: "\eaf9";
}

.zi-stats:before {
    content: "\eafa";
}

.zi-stopwatch:before {
    content: "\eafb";
}

.zi-subway:before {
    content: "\eafc";
}

.zi-swap:before {
    content: "\eafd";
}

.zi-sunny:before {
    content: "\eafe";
}

.zi-switch:before {
    content: "\eaff";
}

.zi-tablet-landscape:before {
    content: "\eb00";
}

.zi-sync:before {
    content: "\eb01";
}

.zi-tablet-portrait:before {
    content: "\eb02";
}

.zi-tennisball:before {
    content: "\eb03";
}

.zi-text:before {
    content: "\eb04";
}

.zi-thermometer:before {
    content: "\eb05";
}

.zi-thumbs-down:before {
    content: "\eb06";
}

.zi-thunderstorm:before {
    content: "\eb07";
}

.zi-thumbs-up:before {
    content: "\eb08";
}

.zi-today:before {
    content: "\eb09";
}

.zi-timer:before {
    content: "\eb0a";
}

.zi-train:before {
    content: "\eb0b";
}

.zi-time:before {
    content: "\eb0c";
}

.zi-transgender:before {
    content: "\eb0d";
}

.zi-trash:before {
    content: "\eb0e";
}

.zi-trending-down:before {
    content: "\eb0f";
}

.zi-trending-up:before {
    content: "\eb10";
}

.zi-tv:before {
    content: "\eb11";
}

.zi-trophy:before {
    content: "\eb12";
}

.zi-umbrella:before {
    content: "\eb13";
}

.zi-undo1:before {
    content: "\eb14";
}

.zi-unlock1:before {
    content: "\eb15";
}

.zi-videocam:before {
    content: "\eb16";
}

