@import "../../mixins/get-color";

.#{$component-name} {
    .#{$component-name}-nav-action {
        display: none;
        cursor: pointer;
        position: relative;
        @include get-color-sub-hover(color);
        .#{$component-name}-nav-action-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            @include get-color-sub(color);
        }
        &--disabled {
            cursor: not-allowed;
            @include get-color-disabled(color);
            &:hover {
                @include get-color-disabled(color);
            }
        }
    }
    // 可滚动时的样式变化
    .#{$component-name}-nav--scrollable {
        .#{$component-name}-nav-action {
            display: block;
        }
    }
}
