// 水平模式下布局
.#{$component-name}--horizontal {
    display: flex;
    flex-direction: column;
    // 导航部分
    .#{$component-name}-nav {
        display: flex;
        // 向前向后按钮
        &-action {
            flex: 0 0 auto;
            align-self: stretch;
            width: 32px;
        }
        &-scroll-wrap {
            flex: 1 1 auto;
        }
        &-tabs-wrap {
            display: inline-block;
        }
        // tab容器
        &-tabs {
            display: inline-block;
            white-space: nowrap;
        }
        // tab样式
        .#{$component-name}-tab {
            display: inline-block;
            margin-right: 32px;
            padding: 12px 16px;
            &:last-child {
                margin-right: 0;
            }
        }
        // 滑块
        &-slider {
            width: 0;
            height: 2px;
            transition: $transition-time width $bezier,
                        $transition-time left $bezier
        }
    }
    // nav在顶部时
    &.#{$component-name}--top {
        .#{$component-name}-nav {
            order: 0;
            margin-bottom: 16px;
            border-bottom: 1px solid transparent;
            @include get-color-border(border-color);
            &-slider {
                bottom: 0;
            }
        }
        .#{$component-name}-content {
            order: 1
        }
    }
    // nav在底部时
    &.#{$component-name}--bottom {
        .#{$component-name}-nav {
            order: 1;
            margin-top: 16px;
            border-top: 1px solid transparent;
            @include get-color-border(border-color);
            &-slider {
                top: 0;
            }
        }
        .#{$component-name}-content {
            order: 0
        }
    }
}
