@import "../../mixins/get-color";
@import "../../custom";

$component-name: $prefix + 'tabs';

.#{$component-name} {
    display: flex;
}

.#{$component-name}-extra {
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.#{$component-name}-hidden {
    display: none;
}
