.#{$component-name}--vertical {
    display: flex;
    height: 100%;
    .#{$component-name}-nav {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        .#{$component-name}-nav-action {
            flex: 0 0 auto;
            width: 100%;
            height: 32px;
            position: relative;
            .#{$component-name}-nav-action-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .#{$component-name}-nav-slider {
            width: 2px;
            height: 0;
            transition: $transition-time height $bezier,
            $transition-time top $bezier
        }
        .#{$component-name}-tab {
            display: block;
            margin-bottom: 16px;
            padding: 8px 24px;
        }
    }
    .#{$component-name}-content {
        flex: 1 1 auto;
    }
    &.#{$component-name}--left {
        .#{$component-name}-nav {
            order: 0;
            margin-right: 20px;
            border-right: 1px solid transparent;
            @include get-color-border(border-color);
            .#{$component-name}-nav-slider {
                right: 0;
            }
            .#{$component-name}-tab {
                text-align: right;
            }
        }
        .#{$component-name}-content {
            order: 1
        }
    }
    &.#{$component-name}--right {
        .#{$component-name}-nav {
            order: 1;
            margin-left: 20px;
            border-left: 1px solid transparent;
            @include get-color-border(border-color);
            .#{$component-name}-nav-slider {
                left: 0;
            }
            .#{$component-name}-tab {
                text-align: left;
            }
        }
        .#{$component-name}-content {
            order: 0
        }
    }
}
