$color-primary              :   #9131ff;
$color-neutral              :   #9131ff;
$color-neutral-saturate     :   6%;
$outline-width              :   3px;
//$border-radius-base         :   0px !default;
//$border-radius-button       :   0px !default;
@import '../core/index';
