.#{$prefix}drop{
    &-enter, &-leave-to{
        opacity: 0;
        transform: scaleY(0.9);
    }
    &-enter-active, &-leave-active{
        transform-origin: top;
        transition: opacity $transition-time $bezier,
                    transform $transition-time $bezier;
    }
    &-move{
        transition: all $transition-time $bezier;
    }
}
