/*
* 执行顺序
enter               定义进入过渡的开始状态。在元素被插入之前生效，在元素被插入之后的下一帧移除。
  |
  ▽
enter-active        定义进入过渡生效时的状态。在整个进入过渡的阶段中应用，在元素被插入之前生效，在过渡/动画完成之后移除。这个类可以被用来定义进入过渡的过程时间，延迟和曲线函数。
  |
  ▽
enter-to           【2.1.8版及以上】 定义进入过渡的结束状态。在元素被插入之后下一帧生效 (与此同时 v-enter 被移除)，在过渡/动画完成之后移除。
  |
  ▽
leave               定义离开过渡的开始状态。在离开过渡被触发时立刻生效，下一帧被移除。
  |
  ▽
leave-active        定义离开过渡生效时的状态。在整个离开过渡的阶段中应用，在离开过渡被触发时立刻生效，在过渡/动画完成之后移除。这个类可以被用来定义离开过渡的过程时间，延迟和曲线函数。
  |
  ▽
leave-to           【2.1.8版及以上】 定义离开过渡的结束状态。在离开过渡被触发之后下一帧生效 (与此同时 v-leave 被删除)，在过渡/动画完成之后移除。
*/

.#{$prefix}fade-enter{
    opacity: 0;
}
.#{$prefix}fade-enter-active{
    transition: opacity $transition-time $bezier;
}
// 由于opacity 默认值为 1 ，因此在进入后和离开前的opacity不用重新设置
//.#{$prefix}fade-enter-to{
//    opacity: 1;
//}
//.#{$prefix}fade-leave{
//    opacity: 1;
//}
.#{$prefix}fade-leave-active{
    transition: opacity $transition-time $bezier;
}
.#{$prefix}fade-leave-to{
    opacity: 0;
}
