$prefix-select-head: #{$prefix}select-head;
.#{$prefix-select-head}{
    border-radius: $border-radius-button;
    border: 1px solid;
    @include get-color-border();
    @include get-color-bg();
    position: relative;
    cursor: text;
    padding-right: 2em;
    @include form-dom-size();
    // 此处设置unset是考虑多选情况系tag项换行，动态高度。
    // 而高度是考line-height撑开。
    height: unset;
    min-width: 90px;
    &-size{
        &-large{
            height: unset;
            min-width: 110px;
        }
        &-small{
            height: unset;
            min-width: 76px;
        }
    }
    & .#{$prefix}input{
        width: 100%;
        &>input{
            border: none;
            &:hover{
                border-color: transparent;
            }
            &:active, &:focus{
                box-shadow: 0 0 0 transparent;
            }
        }
    }
    &[disabled]{
        @include get-color-disabled();
        @include get-color-sub();
        & .#{$prefix}input > input{
            @include get-color-disabled();
            @include get-color-sub();
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: $cursor-disabled;
            z-index: 2;
        }
    }
    &-no-filterable{
        cursor: unset;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    &-multiple{
        &-no-filterable{
            cursor: pointer;
        }
        padding-left: 0.2em;
        &-tags{
            width: 100%;
            max-height: 10em;
            display: inline-block;
            vertical-align: top;
            overflow: auto;
        }
        & .#{$prefix}input{
            margin-left: 0.3em;
            &>input{
                padding: 0;
            }
        }
        .#{$prefix}tag{
            vertical-align: center;
            margin: 0 4px 0 0;
            border: none;
            @include get-color-divider(background-color);
            &:hover{
                @include get-color-text();
                @include get-color-border();
            }
            &:nth-last-of-type(1){
                margin-right: 0;
            }
        }
        .#{$prefix-button}{
            // 重写在不同size下tag组件的size
            @include form-dom-size(-4, no);
        }
        &-input-size-box{
            position: absolute;
            z-index: -1;
            visibility: hidden;
            word-break: break-all;
            height: 1px;
            overflow: hidden;
            bottom: 0;
        }
    }
    &-placeholder{
        position: absolute;
        left: 0.5em;
        top: 0;
        @include get-color-placeholder();
    }
    &-arrow-down{
        @include get-color-sub();
        cursor: pointer;
        position: absolute;
        right: 0.5em;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: center;
        transition: transform $transition-time $bezier;
        z-index: 1;
    }
    &-arrow-up{
        transform: translateY(-50%) rotate(180deg);
    }
    &-clear-hover{
        &:hover{
            @include get-color-sub-hover();
        }
    }
}
