$prefix-select: #{$prefix}select;
.#{$prefix-select}{
    width: $form-dom-width;
    display: inline-block;
    text-align: left;
    border-radius: $border-radius-button;
    user-select: none;
    &>.#{$prefix}tooltip[zov-internal-reference]{
        width: 100%;
        & .#{$prefix}tooltip-body{
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }
    &-body{
        max-height: $drop-down-max-height;
        overflow-y: auto;
    }
    &-no-data{
        padding: 0 1em;
        line-height: $btn-line-height;
    }
    &-option{
        padding: 0 2em 0 1em;
        cursor: pointer;
        line-height: $btn-line-height;
        position: relative;
        &[disabled]{
            background-color: unset;
            opacity: 0.55;
            cursor: $cursor-disabled;
            &:hover{
                background-color: unset;
            }
        }
        &:hover{
            @include get-color-divider(background-color);
        }
        &-selected{
            color: $color-primary;
            &>.zov-icon[zov-internal-reference]{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.5em;
            }
        }
        &-group-title{
            @include get-color-placeholder(color);
            padding: 0 0.5em;
        }

    }
}
